/* (A) WHOLE PAGE */
html, body {
    font-family: arial, sans-serif;
  }
   
  /* (B) BOOKS */
  #our-books {
    max-width: 1205px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10.5px;
  }

  #our-books .book-wrap {
    background: #f1f1f1;
    padding: 15px;
    border: 1px solid #808080;
  }

  #our-books .book-wrap:hover {
    cursor: pointer;
    background: #fdffe6;
  }

  #our-books .book-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
  }

  #our-books .book-desc {
    margin-top: 10px;
    color: #848484;
  }
